=form_for @entry, path: entry_path, method: :patch do |f|
  =f.label :title
  =f.text_field :label
  =f.label :content
  =f.text_area :content
  =f.label :published
  =f.check_box :published
  =f.submit 'submit'
