-if current_user
  =link_to 'Add new entry', new_entry_path
%ol
  -@entries.each do |entry|
    %li
      %ul
        %li
          %h4
            =entry.title
        %li
          =entry.user.email
        %li
          %p
            =entry.content
        %li
          =link_to 'show', entry_path(entry)


